/* Website Template by freewebsitetemplates.com */
@font-face {
	font-family: 'poller_oneregular';
	src: url('../fonts/pollerone/pollerone-webfont.eot');
	src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
		 url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
		 url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}
@font-face {
	font-family: 'leckerli_oneregular';
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}

.footer h3{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
font-size: 23.4632px;
color: #F79F2C;
text-align: center;
padding-top: 10vh;
}

.footer p{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 21.1169px;
	padding-left: 24vh;
	color: #FFFFFF;
}

.yay{
	width: 33.33%;
	float: left;
	background-color: #004137;
}

.ay{
	width: 33.3%;
	float: right;
	background-color: #004137;

}

.footer{
	height: 387px;
	background: #004137;
}
.yare{
	width: 33.3%;
	float: right;
	background-color: #004137;
}
.ggag{
	width: 50%;
	float:right;
	color: #fff;
}

.ffaf{
	width: 50%;float:left ;
	color: #fff;
}
.mawa{
	font-size: 24px;
}
.mawar{
	font-size: 24px;
}
.gaya{
	background-image: url(images/photographer.jpg);
}
.gabzy a:hover{
	color: red;
}
.dar a{
	text-decoration: none;
	color: white;
}

.daf{
	font-family: 'Allura';
font-style: italic;
font-weight: 400;
font-size: 64px;
text-align: center;
color: #FFFFFF;
}
.fad{
	background: #FFFFFF;
	border-radius: 10px;
	font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 40px;
color: #006253;
border-color: #004137;
}

.fadi{
	background: #FFFFFF;
	border-radius: 10px;
	font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 40px;
color: #006253;
border-color: #004137;
}
.gasto{
	font-style: italic;
	font-family: 
	Allura;
	font-size: 28px;
	color: red;
	text-justify: distribute;
	text-decoration: underline;
	margin-top: 30pt;
}
.gaf{
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
}
.gaf h2{
	font-style: italic;
	font-family: 
	Allura;
	color: red;
	text-justify: distribute;
	text-decoration: underline;
}

.gaha{
	background-color:rgba(239, 92, 106, 0.1);
	height:170pt;
	border-radius: 10px;
}

.gaha p1{
	color: #004137;
	font-weight: bolder;
	margin-right: 100pt;
	/* John Smith */
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 20.3789px;


}

.gaha p3{
	color: rgba(18, 201, 131, 0.836);
	font-weight: bolder;
	margin-right: 50pt;
	font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 20.3789px;
color: #004137;
}

.gaha .gaja{
	font-family: 'Lato';
font-style: italic;
font-weight: 400;
font-size: 18.1145px;
line-height: 23px;
}

.gaha p2{
	margin-right: 145pt;
	font-size: 13px;
	font-weight: bolder;
	font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 13.5859px;
color: #000000;
}
.gasta{
	font-style: italic;
	font-family:
	Allura;
	font-size: 28px;
	color: red;
	text-justify: distribute;
	text-decoration: underline;
}

.gastar{
	font-style: italic;
	font-family: 
	'Allura';
	font-style:italic ;
	font-size: 28px;
	color: white;
	text-justify: distribute;
	text-decoration: underline;
}
.gaha p4{
	margin-right: 80pt;
	font-size: 13px;
	font-weight: bolder;
	font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 13.5859px;
color: #000000;
}

.galo{
	background-color:#00A58C;
	border-radius: 20px;
}
.gaha p{
	font-size: 16px;
	font-weight: 800;
}

.gama{
	border-radius: 10px;
	background-color: 
	#00A58C;
	color: #fff;
	font-size: 20px;
	color: aliceblue;
	width: 1000px;
height: 250px;
	
}

.gama h3{
	text-decoration: underline;
	font-family: Brush Script MT;
	padding-top: 5vh;
}

.gama .mugabo{
		width: 16.6%;
		float: left;
		font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
}
.gama .marc{
	width: 16.6%;
	float: left;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
}
.gama .loic{
	width: 16.6%;
	float: right;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
}
.gama .fab{
	width: 16.6%;
	float: left;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
}

.gama .pazo{
	width: 16.6%;
	float: right;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
}


.gaf h4{
	font-weight:bold;
}
body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
p {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
p a {
	color: #252525;
	text-decoration: underline;
}
p a:hover {
	color: #898989;
}
.uri{
	width: 100%;
}
#header {
	margin: 0 auto;
	padding: 44px 0 50px;
	text-align: center;
	width: 960px;
}
#header a.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 340px;
}
#header a.logo img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#header ul {
	margin: 0;
	padding: 56px 0 0;
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 60px;
}
#header ul li a {
	color: #00A58C;
	display: inline-block;
	font-family: 'Lato';
	font-style: normal;
font-weight: 700;
font-size: 15px;
	margin: 0;
	padding: 0 0 5px;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation .selected a{
	text-decoration: underline;
}
#header ul li a:hover, #header ul li.selected a {
	color: #0ba39c;
}
#body {
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
}
#body h1 {
	color: #fff;
	display: inline;
	font-family: poller_oneregular;
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body h1 span {
	background: #252525;
	display: inline-block;
	padding: 15px 28px 12px;
}
#body > div {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
#body > div img {
	border: 2px solid #292929;
	margin: 24px 0 0;
	padding: 0;
}
#body > div .article {
	margin: 0 auto;
	padding: 30px 30px 0;
	width: 560px;
}
#body > div .article h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
}
#body > div .article h3 {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body > div .article h4 {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
	padding: 8px 27px 10px;
}
#body > div .article p {
	margin: 0 0 30px;
}
#body div ul {
	margin: 0;
	padding: 24px 10px 0;
	width: 940px;
}
#body div ul li {
	border: 2px solid #1a1a1a;
	display: block;
	list-style: none;
	margin: 0 0 13px;
	overflow: hidden;
	padding: 0;
}
#body div ul li .figure {
	border-right: 2px solid #1a1a1a;
	float: left;
	margin: 0;
	padding: 0;
	width: 376px;
}
#body div ul li img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
#body div ul li .figure:hover img {
	opacity: 1;
}
#body div ul li div {
	float: left;
	margin: 0;
	padding: 63px 0 20px;
	width: 558px;
}
#body div ul li div h3 {
	color: #252525;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body div ul li div p {
	padding: 30px 30px 18px;
}
#body div ul li div a.more {
	background: #000;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 8px 28px;
	text-decoration: none;
	text-transform: uppercase;
}
#body div ul li div a.more:hover {
	color: #252525;
	background: #fff;
	border: 2px solid #252525;
}
#body #featured {
	margin: 0 0 13px;
	padding: 0;
	position: relative;
	width: 100%;
}
#body #featured img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
#body #featured div {
	left: 50%;
	margin-left: -480px;
	margin-top: -171px;
	padding: 0 0 0 470px;
	position: absolute;
	top: 50%;
	text-align: left;
	width: 490px;
}
#body #featured div h2 {
	background: #fff;
	color: #000;
	display: inline-block;
	font-family: poller_oneregular;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 18px;
	padding: 23px 27px 20px;
	text-transform: uppercase;
}
#body #featured div span {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	margin: 7px 0;
	padding: 12px 27px;
}
#body #featured div a {
	background: #0ba39c;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	margin: 15px 0 0;
	padding: 26px 27px 22px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#body #featured div a:hover {
	background: #1fc3bc;
}
#body > ul {
	margin: 0 auto;
	overflow: hidden;
	padding: 24px 0 0;
	width: 960px;
}
#body > ul li {
	display: block;
	float: left;
	margin: 0 10px 20px;
	padding: 0;
	width: 300px;
}
#body > ul li a {
	color: #000;
	display: block;
	font-family: poller_oneregular;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#body > ul li a img {
	border: 2px solid #1a1a1a;
	display: block;
	margin: 0;
	padding: 0;
	opacity: .8;
	transition: 0.5s ease-in-out;
}
#body > ul li a:hover img {
	opacity: 1;
}
#body > ul li a span {
	display: block;
	margin: 0;
	padding: 33px 0 0;
}
#body form {
	margin: 0 auto;
	padding: 24px 0 0;
	width: 620px;
}
#body form input, #body form textarea {
	border: 2px solid #252525;
	color: #252525;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 37px;
	padding: 20px 10px;
	text-align: center;
	text-transform: uppercase;
	width: 596px;
}
#body form textarea {
	height: 175px;
	overflow: auto;
	resize: none;
}

#body form #send {
	background: #252525;
	color: #fff;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	padding: 20px 28px;
	width: auto;
}
#body form #send:hover {
	background: #fff;
	color: #252525;
	cursor: pointer;
}
#footer {
	background: #145028;
	margin: 0;
	padding: 36px 0 42px;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}
#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
.sagasta{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 22px;
}
.sagasta p1{
	color: #E14958;
	font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28.6836px;
text-align: center;
}
.sagasta p2{
	font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 23.3055px;
text-align: center;
color: #4A4A4A;
}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}
#footer div ul li a {
	background: url(../images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
